#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  height: 100vh;
}
#game div {
  border: 1px solid black;
  width: 150px;
  height: 200px;
  margin: 40px;
}
